.login-container {
  background-image: var(--login-bg);
  background-repeat: no-repeat;
  background-size: 100%;


  .login-navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 50px;

    .lang-icon {
      color: $primary-color;
      font-size: 24px;
      // width: 24px;
      // height: 24px;
      // background-image: var(--i18n-icon);
      // background-repeat: no-repeat;
      // background-size: 100%;
    }
  }

  .login-header {
    width: 100%;
    padding: 0 30px;
    min-height: 200px;
    color: var(--ex-primary-font-color4);

    .login-logo {
      width: 60px;
      height: 60px;
    }

    .login-title {
      font-size: 36px;
      padding-top: 10px;
    }
    .login-welcome {
      font-size: 24px;
      padding-top: 10px;
    }
  }

  .form-box {
    padding: 30px;
    background-color: $panel-color;

    .form-tab {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 16px;

      .tab-item{
        flex: 1;
        flex-shrink: 0;
        min-width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;

        &.active{
          color: $primary-color;
        }
      }
    }

    .form-content {
      padding-top: 20px;

      .van-cell-group {
        margin: 0;

        .van-cell {
          padding: 10px 0;

          :deep(.van-field__body) {
            padding: 0 10px;
          }

          &:after {
            left: 0;
            right: 0;
            border-color: $primary-color;
          }
        }
      }

      .form-item {
        padding: 5px 0;
        position: relative;

        &:after {
          content: " ";
          pointer-events: none;
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid $primary-color;
          position: absolute;
          transform: scaleY(.5);
        }

        .form-label{
          padding-top: 10px;
          font-size: 16px;
        }

        .code-picker {
          padding: 0 10px;
          display: flex;
        }
      }
    }

    .check-item {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .login-btn {
    width: 100%;
    height: 50px;
    background-image: var(--login-btn-bg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ex-primary-font-color4);
  }

  .login-bottom {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}